.left-container{
    object-fit: cover;
    align-items: center;
    background-color: #f4f4f8;
    border: solid 0;
    width: 50vw;
    height: 60vh;
}
.left-container>input{
    display: none;
}
.Image img{
    object-fit: cover;
    margin-left: 20%;
    width: 70%;
    height: 60%;
}