.right-container{
    border: solid 0;
    width: 67%;
    height: 88%;
    overflow: scroll;
    background-color: #f4f4f8;
    padding-left: 20px;
}
/**
.attribute{
    display: flex;
    flex-direction: row;
    background-color: #f4f4f8;
}
.attribute h2{
    color: #fe8a71;
    font-style: normal;
    background-color: #f4f4f8;
}
**/
.title{
    text-decoration: underline;
    color: orangered;
    font-family: Akaash;
    font-size: large;
}
.attr{
    margin-left: 20px;
}
.info{
    display: flex;
    flex-direction: row;
}
.left-info{
    margin-right: 5px;
    font-style: italic;
    font-palette: dark;
}
.right-info{
    margin-left: 5px;
}